.lb-card_title {
  font-size: 20px;
}

.lb-card_select-box {
  width: auto;
  max-width: 150px;
}

.lb-rank {
  width: 30px;
  height: 30px;
  background-color: #fff500;
  border-radius: 10px;
  text-align: center;
  padding: 3px 0px;
}

.lb-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.lb-icon-clan {
  width: 35px;
  height: 40px;
  margin-right: 10px;
}

.lb-table td {
  border: none;
  cursor: pointer;
}

@media (max-width : 559px) and (min-width:450px){
  
}