.player-stats{
    /* box-shadow: 0px 4px 12px #000000, 0px 4px 4px rgba(0, 0, 0, 0.25);  */
    -webkit-box-shadow: -1px 10px 15px 5px rgba(101,115,120,0.61);
    -moz-box-shadow: -1px 10px 15px 5px rgba(101,115,120,0.61);
    box-shadow: -1px 10px 15px 5px rgba(101,115,120,0.61);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: #F8F8F9;
    border-radius: 20px;
    margin: 35px auto;
}
.arena-info-img{
   width: 35vh;
   height: 37vh;
   margin-left: 15%;
}

.arena-info-name{
    font-family: monospace;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 43px;
color: #AE9134;
position: relative;
/* left: 15%; */
bottom: 15px;
cursor: pointer;
} 


.player-data-cont{
    border-left: 20px soild black;
}
.player-data-icon{
    width: 8vh;
}
.player-data-name{
    font-family: monospace;

    font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 36px;
color: #FF7A7A;
justify-content: center;
cursor: pointer;
}
.player-data-tag{
    position: relative;
    top: -20px;
    left: 58px;
    cursor: pointer;
}

.player-option-items{
    display: flex;
    margin-left: 28px;
    margin-bottom: 15px;
}
.item-name{
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
align-items: center;
margin-right: 10px;
width: 100px;
cursor: pointer;
justify-content: center;
margin-top: 4px;
}
.item-divider{
    display: flex;
    font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 29px;
justify-content: center;
align-items: center;
margin-left: 5px;
margin-right: 5px;
}
.item-data{
    display: flex;
    margin-left: 10px;
}
.item-icon{
    width: 35px;
    height: 40px;
    
}
.item-value{
    font-family: monospace;
    font-style: normal;
    font-weight: lighter;
    font-size: 19px;
    line-height: 29px;
    margin-left: 7px;
    padding-top: 5px;
    cursor: pointer;
}

.player-nav-option{
    margin-top: 50px;
}
.nav-options{
    display: flex;
}
.nav-option-item{
    display: flex;
    width: 500px;
}
.option-icon{
    width: 45px;
    height: 45px;

}
.option-name{
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    padding-top: 5px;
    cursor: pointer;
    position: relative;
}
.option-name::after{
    content: '';
    width: auto;
    height: 2px;
    position: absolute;
    background: rgba(141, 16, 16, 0.856);
    left: 0;
    bottom: 0;
    right: 0;
    margin: 4px auto;

    /* optional animation */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: 0.5s ease-in-out;
}
 /* optional hover classes used with anmiation  */
   .option-name:hover:after {
      width: 40%;
      background: orange;
}


@media only screen and (max-width : 1440px){
    .arena-info-name{
    left: 15%;
    }
}
@media only screen and (max-width : 1244px){
    .player-nav-option{
        margin-top: 5px;
    }
    .nav-option-item{
        margin: 4px;
        width: 600px;
    }
    .option-name{
    font-size: 19px;
    line-height: 15px;
    }
}
@media only screen and (min-width : 1238px){
    .item-divider{
        flex: 2;
    }
    .player-data-tag{
        left: 70px;
    }
}

@media only screen and (min-width : 1196px){
    .arena-info-img{
        width: 30vh;
        height: 34vh;
        margin-left: 20%;
     }
     
     .arena-info-name{
     font-size: 25px;
     line-height: 38px;
    margin-top: 10px;
     }  
     .item-value{
         width: 500px;
     }
}
@media only screen and (max-width : 1192px){
    .arena-info-name{
        font-size: 22px;
        line-height: 35px;
        left: 20%;
        } 
        .arena-info-img{
            width: 20vh;
            height: 20vh;
            margin-left: 4%;
         }
         .player-data-icon{
            width: 6vh;
        }
        .player-data-tag{
            left: 80px;
        }

}
@media(max-width : 850px){
    .arena-info-img{
        width: 28vh;
        height: 32vh;
        margin-left: 20%;
     }
     .player-data-tag{
         top:-10px;
        left: 45px;
    }
}
@media only screen and (max-width : 992px){
     .arena-info{
         margin-top: 5%;
     }
     .option-name{
        font-size: 16px;
        line-height: 26px;
     }
}
@media only screen and (max-width : 936px){
    .arena-info-name{
        font-size: 20px;
        line-height: 33px;
    }
}
@media (max-width: 926px){
    .arena-info-name{
        left: 15%;
    }
}
@media only screen and (max-width : 860px){
    .arena-info-name{
        top: 10px;
        font-size: 18px;
        line-height: 25px;
    }


}
@media only screen and (max-width : 896px){
    .item-icon{
        width: 40px;
        height: 46px;
    }
    .item-value{
        font-size: 16px;
        line-height: 25px;
        width: 200px;
    }
    
}
@media only screen and (max-width : 786px){
    .arena-info-img{
        width: 15vh;
        height: 15vh;
     }
     .arena-info{
        margin-top: 7% !important;
    }
     .arena-info-name{
        top: 10px;
        font-size: 15px;
        line-height: 20px;
    }
     .player-data-name{
        font-size: 25px;
        line-height: 30px;
     }
     .option-name{
        font-size: 14px;
        line-height: 24px;
     }
     .option-icon{
        width: 40px;
        height: 40px;    
     }
     .player-data-icon{
        width: 4vh;
    }
    .player-data-tag{
      
        left: 50px;
    }
}
@media (max-width : 538px){
    .item-name{
        font-size: 17px;
        line-height: 25px;
        width: 100px;
        }
        .player-option-items{
            margin-left: 0;
        }
}

@media (max-width : 502px){
    .player-data-icon{
        width: 4vh;
    }
    .player-option-items{
        margin-left: -30px;
    }
    .player-nav-option{
        margin-left: -35px;
    }
    .player-data-tag{
        top: -9px;
        left: 30px;
    }
}
@media (max-width : 462px){
    .player-nav-option{
        margin-left: -50px;
    }
    .option-icon{
        width: 40px;
        height: 35px;
    }
    .item-divider{
    font-size: 19px;
    line-height: 23px;
    }
}
@media (max-width : 454px){
    .player-nav-option{
        margin-left: -50px;
    }
    .option-name{
        display: none;
    }
   
}
@media (max-width : 434px){
    .item-name{
        font-size: 16px;
        line-height: 20px;
        width: 80px;
        } 
        .item-divider{
            font-size: 15px;
            line-height: 17px;
            }
            .item-icon{
                width: 35px;
                height: 40px;
            }

}

@media (max-width: 380px){
    .player-data-tag{
        display: none;
    }
    .player-data-name{
        margin-bottom: 5px;
    }
    .item-icon{
        width: 30px;
        height: 30px;
    }
    .item-name{
        font-size: 12px;
        line-height: 16px;
        width: 55px;
        }
        .item-value{
            font-size: 12px;
            line-height: 20px;
        }
        .item-divider{
            font-size: 13px;
            line-height: 15px;
            }
}
@media (min-width : 316px) and (max-width :404px){
    
    .item-name{
        width: 40px;
        }
        .item-value{
            font-size: 12px;
            line-height: 20px;
        }
       
}