.card-holder{
    margin: 10px 20px;
}
.card-image{
    width: 14vh;
    height: 17vh;
   
}
.card-level{
    position: relative;
    bottom: 40px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 800;
    /* left: 20px; */
}
.image-title{
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    font-family: fantasy;
    text-align: justify;
}
